body {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.hero-logo {
    font-size: 24px;
}

.hero-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;
}

.hero-main {
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
}

.hero-right>h1 {
    font-size: 48px;
}

.hero-right>p {
    font-size: 18px;
}

.hero-left>img{
    width: 600px;
    height: 300px;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 10%;
    color: white;
    border-style: none;
    width: 90px;
    height: 35px;
}

.info{
    padding-bottom: 3rem;
}

.info > h1 {
    text-align: center;
    font-size: 36px;
}

.subtext {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.subtext-img {
    width: 15rem;
}

.quote {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #E5E7EB;
}

.quote-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    text-align: justify;

}

.quoter {
    text-align: right;
    font-size: 20px;
}

.call-to-action {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sign-up-container {
    background-color: #3882F6;
    color: white;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    border-radius: .3rem;
}

.sign-up-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up-btn {
    font-size: 1.5rem;
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    color: white;
}